body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "SSTPaneuropeanRoman", "Yu Gothic Medium", "YuGothic", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header, footer {
    background-color: #000000;
    color: #fff;
    padding: 12px;
}

footer {
    background-color: #1F2024 !important;
}

main {
    flex: 1;
    padding: 20px;
}

.header > img {
    font-size: 20px;
    margin-left: 60px;
    top: 30%;
    position: relative;
}

.HearingAidIcon {
    height: 48px;
    width: 48px;
}

.IntroPageContainer {
    margin-left: 20%;
    margin-top: 7%;
    color: black;
    text-align: left;
    align-items: center;
}

.IntroPageHeader {
    font-size: 20px;
    font-weight: 500;
    color: #656565;
    margin-left: 8px;
    line-height: 26.14px;
}

.IntroPageDescription {
    display: inline-block;
    margin-top: 1%;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    max-width: 570px;
}

.TransitionDescription {
    width: 90%;
}

p {
    line-height: 22.4px;
}

.RemoveHighlight a {
    text-decoration: none;
}

.CookiePolicyPageDescription {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    color: #000000;
    max-width: 570px;
}

.CookiePolicyContent {
    display: none;
}

.CookiePolicyHeader {
    gap: 10px;
    font-size: 26px;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.CookiePolicySubHeading {
    font-size: 16px;
    font-weight: 700;
    color: #656565;
    line-height: 20.8px;
    margin-bottom: 0px;
}

.CookiePolicyDescription {
    line-height: 18.2px;
    color: #000000;
    margin-top: 6px;
    text-align:justify;
    font-size:14px;
}

.customLink {
    color: #3865E0;
    cursor: pointer;
}

.svgButton {
/*
    font-family: "SSTPaneuropeanRoman", "Yu Gothic Medium", "YuGothic", sans-serif;
*/
    font-family: "SSTPaneuropeanRoman", serif;
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove the border */
    padding: 0; /* Remove any default padding */
    cursor: pointer;
}

.CookiePolicyTop {
    margin-top: 10px;
    line-height: 33.8px;
    font-size: 26px;
}

#cookiePolicyLink {
    cursor: pointer;
}

.DeleteBulletlist {
    padding-left: 16px;
    margin: 0;
}

li { 
    position: relative;   
    line-height: 22.4px;
}   

.ButtonDiv {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.Button {
    /*
    font-family: "SSTPaneuropeanRoman", "Yu Gothic Medium", "YuGothic", sans-serif;
    */
    font-family: "SSTPaneuropeanRoman", serif;
    background-color: #2D75C7;
    height: 58px;
    cursor: pointer;
    border-radius: 2px;
    border-color: lightgray;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    border: solid 1px;
    text-align: center;
    line-height: 20.8px;
}

    .Button:hover {
        background-color: #34568E;
    }

.HeaderDiv {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#DeleteAccountButton {
    margin-bottom: 1%;
}

.footerLink {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 18.3px;
}

#CancelButton {
    background-color: #FFFFFF !important;
    border-color: #757575 !important;
    border-width: 1px;
    color: #656565 !important;
}

    #CancelButton:hover {
        background-color: #DADADA !important;
        color: #4D4D4D !important;
    }

#DeletePolicyLink {
    font-size: 14px;
    font-weight: 400;
    color: #3865E0
}

    #DeletePolicyLink:hover {
        color: #000000 !important;
    }

.copyright {
    color: #898991;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
    z-index: 9998; /* Ensure overlay is above other content */
}

.customAlert {
    background-color: #FFFFFF;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 24px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    gap: 24px;
}

.alertContent {
    width: 279px; /* Set fixed width for the alert message */
    max-width: 100%;
    text-align: start;
    margin-bottom: 20px;
    line-height: 18.2px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.alertActions {
    width: 279px; /* Set fixed width for the alert actions */
    max-width: 100%;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.customAlert button {
    margin: 0;
}

.closeButton {
    /*
    font-family: "SSTPaneuropeanRoman", "Yu Gothic Medium", "YuGothic", sans-serif;
    */
    font-family: "SSTPaneuropeanRoman", serif;
    height: 58px;
    width: 279px;
    background-color: #2D75C7;
    color: #FFFFFF;
    line-height: 20.8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 2px;
    border-color: lightgray;
    border: solid 1px;
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .IntroPageDescription {
        margin-top: 2%;
    }

    .TransitionDescription {
        width: 100%;
    }
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 12rem;
}

    .footer-nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        line-height: 18.3px;
    }

        .footer-nav ul li {
            margin-right: 30px;
            font-size: 14px;
            font-weight: 400;
        }

/* Media query for devices with width less than 768px (tablets and mobile devices) */
@media only screen and (max-width: 768px) {
    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

        .footer-nav ul {
            flex-direction: column;
            margin-bottom: 4px;
        }

            .footer-nav ul li {
                margin-bottom: 10px; /* Add margin between list items */
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 400;
            }

    .copyright {
        text-align: right;
        margin-top: 0;
    }

    .row {
        max-width: none;
    }
}

@media only screen and (max-width: 1130px) {
    .footer-nav {
        margin: 0 12px;
    }
}

/* Firefox-specific CSS */
@-moz-document url-prefix() {
    .DeleteBulletlist {
        padding-left: 12px !important;
        margin: 0 !important;
    }
}

/* Chrome-specific CSS */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .DeleteBulletlist {
        padding-left: 16px;
        margin: 0;
    }
}
